.chart-container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100vw;
}

.App {
  height: 100vh;
  display: grid;
  place-items: center;
}

.price {
  text-align: right;
  padding-right: 6vw;
}

.val {
  font-size: 24px;
}

.change {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 30px;
}

.change img {
  margin-right: 4px;
}

.percent {
  font-size: 14px;
}

.percent.red {
  color: #DD2C00;
}

.percent.green {
  color: #00C853;
}